.prize-image-block{position:relative;display:inline-flex;width:80px;background-color:#f0f0f0;border-radius:4px;overflow:hidden;user-select:none}.prize-image-block:before{content:"";display:block;padding-top:100%}
